body {
    font-family: "Open Sans", sans-serif;
    background-color: #E6E6EA;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #A997DF;
    font-family: 'Courier New', Courier, monospace;
}

header h2 {
    color: gray;
}

footer {
    background-image: linear-gradient(#4B3F72, white);
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #DCCFEC, #A997DF, #4B3F72);
    color: black;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: gray;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

.card {
    background-color: gray;
    color: white;
    border: white;
    font-family: 'Courier New', Courier, monospace;
}

.table {
    color: white;
}